/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
p,li,h1,h3 {
    font-family: 'Nunito',
        sans-serif;
}
/*header*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    background-color:rgb(37, 37, 37);
}
.title{
    font: bolder;
    color: rgb(42, 171, 226);
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 15px;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:rgb(255, 255, 255);
    width: 500px;
    margin-top: 17px;
    margin-right: 15px;
}
/*header*/
/*  center-content */

.center-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.skills-check{
    text-align: left;
    width: 50%;
    line-height: 20px;
}
h1{
    font-weight: 550;
    font: bolder;
    font: extra-bold 800;
    font-size: large;
}
/* sidebar */
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 225px;
}
/* yourname */
.your-name{
    display: flex;
    flex-direction: column;
    
}
#profile{
    width: 100px;
    height: 100px;
}
.your-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 14vh;
    -webkit-box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.5);
}
.your-name > p{
    font-weight: 500;
    font: extra-bold 800;
    font-size: large;
}
/* yourname */

/* populararticles */
.popular-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 18vh;
    width: 200px;;
    -webkit-box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0px 12px 2px rgba(0, 0, 0, 0.5);
}
.popArticles-title{
font: bolder;
}
.popArticles-list{
list-style-type:decimal;
line-height: 17px;
}
.popArticles-list > li{
    font-size:13px;
}
/* populararticles */

/* sidebar */

/* center-content */ 

/* image gallery */
.image-gallery{
    margin-left: 120px;
}
.image-gallery> h2{
    font-weight: 550;
    font: extra-bold 800;
    font-size: large;
}
.image-gallery>p {
margin-left: 450px;
font-size: 12px;
color: rgb(42, 171, 226);
}
.gallery{
   position: relative;

}
#placeholder{
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* image gallery */
/* footer */
#footer{
    background-color:rgb(42, 171, 226);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
#footer>p{
  margin-top: 12px;
  margin-left: 10px;
}
.help-button{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    z-index: 999;
    background-color: transparent;
    margin-bottom: 5px;
    margin-right: 5px;
}
/* footer */